<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ this_list.name }}</h1>
        <p><a href="{% url 'todo_list_update' this_list.id %}">Edit</a></p>
        <p><a href="{% url 'todo_list_delete' this_list.id %}">Delete</a></p>
        <h2>Tasks</h2>
        <table>
          <thead>
            <th>Task</th>
            <th>Due Date</th>
          </thead>
          <tbody>
            {% for item in this_list.items.all %}
            <tr>
              <td><a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a></td>
              <td>{{ item.due_date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
