<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do Lists</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <p><a href="{% url 'todo_list_create' %}">New List</a></p>
            <p><a href="{% url 'todo_item_create' %}">Create a new item</a></p>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number of items</th>
                </thead>
                <tbody>
                    {% for lists in todo_list_list.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' lists.id %}"> {{ lists.name }}</a></td>
                        <td>{{ lists.items.all|length }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>
